/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.container{
		max-width: 1170px;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	html{
		font-size: 55%;
	}
}

@media (max-width: 991px) {
	html{
		font-size: 55%;
	}
	#menu{
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #fff;
		text-align: center;
		z-index: -1;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		overflow: auto;
		padding-top: 8.5rem;
		padding-bottom: 3rem;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	#menu.current{
		left: 0;
	}
	.hamburger-menu {
		display: block;
	}
	#menu li{
		display: block;
		margin-top: 2.5rem;
	}
	#menu li:last-child a{
		padding-left: 0;
	}
	#menu li:last-child {
	    padding: 0;
	}
	#menu {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-pack: start;
	        -ms-flex-pack: start;
	            justify-content: flex-start;
	}
	.time_cont p {
	    font-size: 1.7rem;
	}
	.time_wrapper>div:nth-child(odd) .time_item {
	    margin-top: 4.5rem;
	}
	.timeline_area::before {
	    display: none;
	}
	
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767.98px) {
	html{
		font-size: 35%;
	}
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575.98px) {
	html{
		font-size: 1.7vw;
	}
}
